.index-button {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  padding: 7px 0;
  color: $white;
  background-color: $green;
  text-decoration: none;
}

.form-button {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  padding: 7px 0;
  color: $white;
  background-color: $green;
  text-decoration: none;
}

.catalog-button {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  padding: 7px 0;
  color: $white;
  background-color: $green;
  text-decoration: none;
}
