.button {
  &--green {
    font-family: $oswald;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 0;
    color: $white;
    background-color: $green;
    text-decoration: none;

    &:hover {
      background-color: $green-2;
    }

    &:focus {
      background-color: $green-2;
    }

    &:active {
      background-color: $green-2;
      color: transparentize($color: $white, $amount: 0.3);
    }
  }

  &--grey {
    font-family: $oswald;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 0;
    color: $dark_grey;
    background-color: $grey;
    text-decoration: none;

    &:hover {
      background-color: $grey-2;
    }

    &:focus {
      background-color: $grey-2;
    }

    &:active {
      background-color: $grey-2;
      color: transparentize($color: $dark_grey, $amount: 0.3);
    }
  }
}
