.card-more {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -39px;
    left: 50%;
    margin-left: -15px;
    height: 2px;
    width: 30px;
    background-color: $border_grey-3;
  }

  &::after {
    content: "";
    position: absolute;
    top: -39px;
    left: 50%;
    margin-left: -15px;
    height: 2px;
    width: 30px;
    background-color: $border_grey-3;
    transform: rotate(90deg);
  }

  @media (min-width: $tablet-width) {
    border: 2px $grey solid;

    &::before {
      top: 82px;
      margin-left: -30px;
      width: 60px;
    }

    &::after {
      top: 82px;
      margin-left: -30px;
      width: 60px;
      transform: rotate(90deg);
    }
  }
}

.card-more__title {
  font-family: $oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  margin: 58px 0 0 0;
  color: $dark_grey-3;


  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;
    margin: 0 auto;
    padding-top: 158px;
    width: 55%;
  }

  @media (min-width: $desktop-width) {
    width: 70%;
    padding-top: 160px;
  }
}

.card-more__text {
  font-family: $lato;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  margin: 8px 0 21px 0;
  color: $dark_grey;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;
    margin: 23px auto 87px auto;
    width: 60%;
  }

  @media (min-width: $desktop-width) {
    width: 70%;
  }
}

.card-more__button-wrapper {
  @media (min-width: $tablet-width) {
    padding: 0 38px 35px 38px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 38px 42px 38px;
  }
}

.card-more__button {
  display: block;
}
