.card {
  display: grid;
  grid-template-areas: "img title title" "img info info" "btn btn btn";
  align-items: flex-start;
  row-gap: 11px;

  @media (min-width: $tablet-width) {
    display: block;
    background: linear-gradient(180deg, $white 16%, $grey 16%);
  }
}

.card__link-img {
  grid-area: img;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 140px;
  height: 112px;

  @media (min-width: $tablet-width) {
    align-items: flex-start;
    height: 234px;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    align-items: flex-start;
    height: 245px;
  }
}

.card__img {
  &--small {
    padding-bottom: 8px;
  }

  @media (min-width: $tablet-width) {
    &--small {
      padding-top: 28px;
      padding-bottom: 0;
    }

    max-height: 200px;
  }

  @media (min-width: $desktop-width) {
    &--small {
      padding-top: 32px;
      padding-bottom: 0;
    }

    max-height: 196px;
  }
}

.card__link-title {
  text-decoration: none;
  grid-area: title;
  color: $dark_grey-2;
}

.card__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  max-width: 65%;
  color: $dark_grey-2;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin: 0 auto 21px auto;
    max-width: 155px;
  }

  @media (min-width: $desktop-width) {
    line-height: 21px;
  }
}

.card__info {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  grid-area: info;
  padding: 0;
  color: $dark_grey;

  td {
    padding: 0;

    &:last-child {
      text-align: right;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
    padding: 0 38px 34px 38px;
    width: 100%;

    td {
      padding-bottom: 9px;
      border-bottom: 1px $special_grey solid;
    }
  }

  @media (min-width: $desktop-width) {
    td {
      padding-bottom: 12px;
    }
  }
}


.card__button-wrapper {
  grid-area: btn;

  @media (min-width: $tablet-width) {
    padding: 0 38px 39px 38px;
  }
}

.card__button {
  display: block;
  width: 100%;
}
