.catalog-extra {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  color: $black;
}

.catalog-extra__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
  }
}
