.catalog-main__wrapper {
  margin: 0 auto;
}

.catalog-main__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  color: $black;
  margin: 0 auto;
  padding: 27px 20px 41px 20px;
  border-top: 1px $border_grey-2 solid;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    padding: 65px 30px 90px 30px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    padding: 78px 110px 85px 110px;
    width: 1220px;
  }
}

.catalog-main__list {
  margin: 0 auto;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(324px, 1fr));
    gap: 60px;
    padding: 0 30px;

    &:last-child {
      align-items: end;
    }
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
    column-gap: 80px;
    padding: 0 110px;
    width: 1220px;
  }
}

.catalog-main__item {
  margin: 0;
  padding: 20px 20px 25px 20px;
  border-top: 1px $border_grey solid;

  @media (min-width: $tablet-width) {
    padding: 0;
    border: none;
  }
}
