.catalog-extra {
  position: relative;
  border-top: 1px $border_grey solid;
  color: $black;

  &::before {
    content: "";
    position: absolute;
    top: 41px;
    right: 0;
    height: 2px;
    width: 100%;
    background-color: $green;
  }

  @media (min-width: $tablet-width) {
    padding: 0 30px;
    border: none;

    &::before {
      top: 91px;
    }
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 0;
    &::before {
      top: 100px;
    }
  }
}

.catalog-extra__wrapper-title {
  @media (min-width: $desktop-width) {
    margin: 0 auto;
    width: 1300px;
  }
}

.catalog-extra__title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  position: relative;
  margin: 0 auto 0 0;
  padding: 25px 20px 36px 20px;
  width: 226px;
  background-color: $white;
  color: $black;
  z-index: 1;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding: 68px 34px 80px 37px;
    width: 340px;
  }

  @media (min-width: $desktop-width) {
    padding: 75px 35px 81px 40px;
  }
}

.catalog-extra__wrapper {
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    width: 1220px;
  }
}

.catalog-extra__list {
  padding: 0;
  margin: 0;
  list-style: none;

  @media (min-width: $desktop-width) {
    min-width: 895px;
    margin-bottom: 86px;
    border-bottom: 1px $special_grey solid;
  }
}
