.form-info {
  display: grid;
  row-gap: 14px;
  margin: 0;
  padding: 0 20px 24px 20px;
  border: none;

  @media (min-width: $tablet-width) {
    padding: 0 70px 78px 70px;
    row-gap: 28px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}
