.form-contacts {
  position: relative;
  margin: 0;
  padding: 0;
  border: none;

  &::before {
    content: "";
    position: absolute;
    top: 18px;
    right: 0;
    height: 2px;
    width: 100%;
    background-color: $green;
  }

  @media (min-width: $tablet-width) {
    padding: 0 30px;

    &::before {
      top: 20px;
    }
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
  }
}

.form-contacts__wrapper-title {
  @media (min-width: $desktop-width) {
    margin: 0 auto;
    width: 1300px;
  }
}

.form-contacts__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  position: relative;
  margin: 0;
  padding: 0 14px 0 20px;
  max-width: 188px;
  background-color: $white;
  z-index: 1;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding: 0 40px;
    max-width: 515px;
  }
}

.form-contacts__wrapper {
  display: grid;
  row-gap: 14px;
  margin: 35px 0 24px 0;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 40px;
    margin: 76px 0 70px 0;
    row-gap: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    margin: 76px auto 73px auto;
    width: 1220px;
  }
}
