.form-goals {
  margin: 0;
  padding: 20px;
  border: none;
  border-top: 1px $border_grey-2 solid;
  border-bottom: 1px $border_grey-2 solid;

  @media (min-width: $tablet-width) {
    margin: 0 70px;
    padding: 25px 27px;
    border: 1px $border_grey-2 solid;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.form-goals__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.form-goals__list-item {
  &:not(:last-child) {
    margin-bottom: 11px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 0;
  }
}

.form-goals__item {
  display: flex;
  align-items: center;
  gap: 15px;

  &:hover .form-goals__mark-radio {
    border: 1px $grey-3 solid;
  }

  &:focus .form-goals__mark-radio {
    border: 1px $dark_grey solid;
  }

  &:active {
    opacity: 0.3;
  }

  &:disabled {
    opacity: 0.3;
  }
}

.form-goals__mark-radio {
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  border: 1px $special_grey solid;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.form-goals__text {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: $dark_grey-2;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form-goals__input {
  &:focus-visible + .form-goals__mark-radio {
    outline: 2px $dark_grey solid;
  }

  &:checked + .form-goals__mark-radio::before {
    content: "";
    position: absolute;
    top: 28%;
    right: 28%;
    width: 13px;
    height: 13px;
    background-color: $green;
    border-radius: 50%;

    @media (min-width: $tablet-width) {
      width: 18px;
      height: 18px;
    }
  }
}
