.form-field__item {
  display: flex;
  align-items: center;
}

.form-field__text {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  margin-right: 14px;
  white-space: nowrap;
  color: $dark_grey;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form-field__input {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0;
  padding: 0 0 0 20px;
  height: 43px;
  width: 100%;
  border: 1px $border_grey-4 solid;
  color: $dark_grey;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form-field__input--textarea {
  padding: 0 14px;
  min-height: 150px;

  @media (min-width: $tablet-width) {
    min-height: 174px;
    padding: 0 19px;
  }
}
