.form-field__item {
  display: flex;
  align-items: center;
  position: relative;
}

.form-field__text {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  margin-right: 14px;
  white-space: nowrap;
  color: $dark_grey;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-right: 20px;
  }
}

.form-field__input {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0;
  padding: 0 0 0 20px;
  height: 43px;
  width: 100%;
  border: 1px $border_grey-4 solid;
  color: $dark_grey;

  &--contacts {
    padding: 0 0 0 11px;

    @media (min-width: $tablet-width) {
      padding: 0 0 0 20px;
    }
  }

  &--textarea {
    padding: 10px 14px 0;
    min-height: 150px;
    resize: none;

    @media (min-width: $tablet-width) {
      min-height: 164px;
      padding: 10px 19px 0;
    }
  }

  &--error {
    outline: $status_error solid;

    & + svg {
      stroke: $status_error;
    }
  }

  &:hover {
    border: 1px $special_grey solid;
  }

  &:focus {
    outline: 2px $dark_grey solid;
  }

  &:focus + .form-field__icon {
    stroke: $green;
  }

  &:active {
    outline: 2px $dark_grey solid;
  }

  &:active + .form-field__icon {
    stroke: $green;
  }

  &:disabled {
    opacity: 0.3;
  }

  // &:invalid {
  //   outline: $status_error solid;

  //   & + svg {
  //     stroke: $status_error;
  //   }
  // }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding-left: 15px;
  }
}

.form-field__icon {
  position: absolute;
  width: 18px;
  height: 16px;
  top: 16px;
  right: 15px;
  stroke: $black;
  fill: none;
}
