.form-extra {
  position: relative;
  margin: 0;
  padding: 0;
  border: none;

  &::before {
    content: "";
    position: absolute;
    top: 15px;
    right: 0;
    height: 2px;
    width: 100%;
    background-color: $green;
  }

  @media (min-width: $tablet-width) {
    padding: 0 30px;

    &::before {
      top: 20px;
    }
  }
}

.form-extra__wrapper-title {
  @media (min-width: $desktop-width) {
    margin: 0 auto;
    width: 1300px;
  }
}

.form-extra__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  position: relative;
  margin: 0;
  padding: 0 14px 0 20px;
  max-width: 141px;
  background-color: $white;
  z-index: 1;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding: 0 40px;
    max-width: 182px;
  }
}

.form-extra__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(221px, 1fr));
  row-gap: 13px;
  column-gap: 50px;
  padding: 0 20px;
  margin: 34px 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    column-gap: 64px;
    row-gap: 32px;
    padding: 0 40px;
    margin: 55px 0;
  }

  @media (min-width: $desktop-width) {
    column-gap: 104px;
    margin: 60px auto;
    width: 1220px;
  }
}

.form-extra__list-item {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form-extra__item {
  display: flex;
  align-items: center;
  gap: 16px;

  &:hover .form-goals__mark {
    border: 1px $grey-3 solid;
  }

  &:focus .form-goals__mark {
    border: 1px $grey-3 solid;
  }

  &:active {
    opacity: 0.3;
  }

  &:disabled {
    opacity: 0.3;
  }
}

.form-goals__mark {
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  border: 1px $special_grey solid;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.form-extra__input:checked + .form-goals__mark::before {
  content: "";
  position: absolute;
  top: 8px;
  right: 6px;
  width: 18px;
  height: 14px;
  background-image: url("../../img/icon/check-mark.svg");
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    top: 7px;
    right: 7px;
    width: 26px;
    height: 26px;
    background-image: url("../../img/icon/tick.svg");
  }
}
