.form-submit {
  margin: 0;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 64px;
    padding: 0 70px;
    margin-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    gap: 84px;
    padding: 0 110px;
    margin: 0 auto 82px auto;
    width: 1220px;
  }
}

.form-submit__text {
  font-family: $lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  margin: 21px 0 32px 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
  }
}

.form-submit__button {
  width: 100%;
  border: none;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    padding: 13px 0;
  }
}
