.form-heading {
  margin: 0 auto;
  padding: 0;

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}

.form-heading__title {
  font-family: $oswald;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  margin: 0;
  padding: 27px 20px 37px 20px;
  border-top: 1px $border_grey-2 solid;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    padding: 65px 70px 54px 70px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    padding: 77px 0 56px 0;
  }
}

.form-heading__subtitle {
  font-family: $oswald;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0;
  padding: 0 20px 39px 20px;
  max-width: 70%;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding: 0 70px 66px 70px;
    max-width: 50%;
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 70px 0;
    max-width: 30%;
  }
}
