.form__wrapper {
  @media (min-width: $desktop-width) {
    margin: 0 auto;
  }
}

.form__container {
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    margin-bottom: 75px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    margin: 0 auto 69px auto;
    width: 1220px;
  }
}
