.main-nav {
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: $black;
}

.main-nav__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.main-nav__list {
  list-style: none;
}

.main-nav__link {
  text-decoration: none;
}
