.main-nav {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 29px;
  }
}

@media (max-width: $tablet-width - 1px) {
  .main-nav--closed {
    display: none;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.main-nav__item {
  text-align: center;
  padding: 22px 0 24px 0;
  border-top: 1px solid $border_grey;

  @media (min-width: $tablet-width) {
    padding: 42px 0 10px 36px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    padding: 69px 0 8px 36px;
    max-width: $desktop-width;
  }
}

.main-nav__link {
  text-decoration: none;
  text-align: center;

  @media (min-width: $desktop-width) {
    color: $black;
  }
}
