.main-nav {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 29px;
  }
}

@media (max-width: $tablet-width - 1px) {
  .main-nav--closed {
    display: none;
  }
}

.main-nav__wrapper {
  position: relative;
}

.main-nav__list {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: $white;
  list-style: none;
  z-index: 4;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 36px;
    position: inherit;
    background-color: inherit;
  }

  @media (min-width: $desktop-width) {
    max-width: 680px;
  }
}

.main-nav__item {
  text-align: center;
  padding: 22px 0 24px 0;
  border-top: 1px solid $border_grey;

  @media (min-width: $tablet-width) {
    padding: 18px 0 10px 0;
    border: none;
  }

  @media (min-width: $desktop-width) {
    padding: 69px 0 8px 0;
    max-width: $desktop-width;
  }
}

.main-nav__link {
  text-decoration: none;
  text-align: center;
  position: relative;
  color: $black;

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &--active-index {
    &::before {
      content: "";
      position: absolute;
      display: block;
      bottom: -8px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $green;

      @media (min-width: $desktop-width) {
        background-color: $white;
      }
    }
  }

  &--active {
    &::before {
      content: "";
      position: absolute;
      display: block;
      bottom: -8px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $green;
    }
  }

  @media (min-width: $desktop-width) {
    color: $black;
  }
}
