.main-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 320px;
  min-height: 65px;
  margin: 0 auto;
  padding: 0 20px;


  @media (min-width: $tablet-width) {
    width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
  }
}

.main-header__toggle {
  width: 30px;
  height: 37px;
}
