.map__wrapper {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  margin: 0 auto;
  color: $black;

  @media (min-width: $desktop-width) {
    width: 100%;
    position: relative;
  }
}

.map__info {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 26px 20px;
  max-width: 400px;

  @media (min-width: $tablet-width) {
    padding: 56px 70px;
    max-width: 900px;
  }

  @media (min-width: $desktop-width) {
    justify-content: flex-start;
    align-items: baseline;
    position: absolute;
    top: 95px;
    left: 110px;
    margin: 0;
    padding: 56px 80px 36px 80px;
    width: 405px;
    background-color: $white;
  }
}

.map__title {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  max-width: 140px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
    max-width: 170px;
  }

  @media (min-width: $tablet-width) {
    max-width: 155px;
  }
}

.map__contacts {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
  max-width: 140px;
  color: $dark_grey;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    text-align: right;
    max-width: 170px;

    span {
      display: block;
      margin-top: 20px;
    }
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
    text-align: left;
    margin-left: 87px;
    max-width: 121px;

    span {
      display: block;
      margin: 0;
    }
  }
}

.map__iframe {
  width: 100%;
  height: 362px;

  iframe {
    width: 100%;
    height: 100%;
  }

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}
