.map__wrapper {
  font-family: $oswald;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  margin: 0 auto;
  color: $black;

  &--grey {
    background-color: $grey;

    @media (min-width: $desktop-width) {
      background-color: $white;
    }
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    position: relative;
  }
}

.map__info {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 26px 20px;
  max-width: 400px;

  @media (min-width: $tablet-width) {
    padding: 56px 70px;
    max-width: 900px;
  }

  @media (min-width: $desktop-width) {
    justify-content: flex-start;
    align-items: baseline;
    position: absolute;
    top: 95px;
    left: 110px;
    margin: 0;
    padding: 60px 60px 56px 80px;
    width: 420px;
    background-color: $white;
  }
}

.map__title {
  font-family: $oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  max-width: 140px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
    max-width: 170px;
  }

  @media (min-width: $tablet-width) {
    max-width: 155px;
  }
}

.map__contacts {
  font-family: $lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
  max-width: 140px;
  color: $dark_grey;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    text-align: right;
    max-width: 170px;

    span {
      display: block;
      margin-top: 20px;
    }
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
    text-align: left;
    margin-left: 95px;
    max-width: 157px;

    span {
      display: block;
      margin: 10px 0 0 0;
    }
  }
}

.map__iframe {
  width: 100%;
  height: 362px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../img/background/map-desk.png");

  iframe {
    width: 100%;
    height: 100%;
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/background/map-mob@2x.png");
  }

  @media (min-width: $tablet-width) {
    height: 400px;
    background-image: url("../../img/background/map-tab.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/background/map-tab@2x.png");
    }
  }

  @media (min-width: $desktop-width) {
    height: 400px;
    background-image: url("../../img/background/map-desk.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/background/map-desk@2x.png");
    }
  }
}
