.preview__wrapper {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  margin: 0 auto;
  padding: 20px;
  color: $black;

  @media (min-width: $tablet-width) {
    padding: 0 30px 45px 30px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1220px;
    padding: 82px 110px 71px 110px;
  }
}

.preview__list {
  margin: 0;
  padding: 0;

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.preview__item {
  background-color: $grey;
  list-style: none;
  padding: 30px 20px 22px 20px;

  &:not(:last-child) {
    margin: 0 0 20px 0;
  }

  @media (min-width: $tablet-width) {
    padding: 77px 62px 57px 52px;
    min-height: 238px;

    &:not(:last-child) {
      margin: 0 0 30px 0;
    }
  }

  @media (min-width: $desktop-width) {
    min-height: none;

    &:not(:last-child) {
      margin: 0 80px 0 0;
    }
  }

  &--slim {
    background-image: url(../../img/background/cat-back-slim.svg);
    background-size: 50px 53px;
    background-repeat: no-repeat;
    background-position: 22px 21px;

    @media (min-width: $tablet-width) {
      background-size: 200px 211px;
      background-position: 88% 92px;
    }

    @media (min-width: $desktop-width) {
      background-size: 100px 106px;
      background-position: 52px 41px;
    }
  }

  &--pro {
    background-image: url(../../img/background/cat-back-pro.svg);
    background-size: 67px 50px;
    background-repeat: no-repeat;
    background-position: 13px 24px;

    @media (min-width: $tablet-width) {
      background-size: 268px 200px;
      background-position: 93.5% 91px;
    }

    @media (min-width: $desktop-width) {
      background-size: 134px 100px;
      background-position: 33px 47px;
    }
  }
}

.preview__title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;
  margin: 0 0 0 71px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 0 162px;
  }
}

.preview__text {
  padding: 0;
  margin: 29px 0 23px 0;
  max-width: 400px;
  color: $dark_grey;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin: 24px 0 52px 0;
    max-width: 58%;
  }

  @media (min-width: $desktop-width) {
    margin: 73px 0 27px 0;
    max-width: 460px;
  }
}

.preview__link {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  align-items: center;
  position: relative;
  padding-top: 19px;
  color: $black;

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    top: 0;
    background-color: $border_grey-2;
  }

  &::after {
    content: "";
    display: block;
    margin-left: 15px;
    width: 32px;
    height: 12px;
    background-image: url(../../img/icon/arrow.svg);
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding: 0;

    &::before {
      display: none;
    }

    &::after {
      margin-left: 25px;
    }
  }

  &:hover::after {
    background-size: 32px 12px;
  }

  &:focus::after {
    width: 32px;
    background-image: url(../../img/icon/arrow-hover.svg);
  }

  &:active {
    opacity: 0.3;
  }
}
