.preview__wrapper {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  margin: 0 auto;
  width: 320px;
  color: $black;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
  }
}

.preview__list {
  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.preview__item {
  background-color: $grey;
  list-style: none;
}
