.preview__wrapper {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  color: $black;
}

.preview__list {
  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.preview__item {
  background-color: $grey;
  list-style: none;
}
