.preview__wrapper {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  margin: 0 auto;
  padding: 20px;
  color: $black;

  @media (min-width: $tablet-width) {
    padding: 0 30px 45px 30px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1220px;
    padding: 82px 110px 71px 110px;
  }
}

.preview__list {
  margin: 0;
  padding: 0;

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.preview__item {
  background-color: $grey;
  list-style: none;
  padding: 30px 20px 22px 20px;

  &:not(:last-child) {
    margin: 0 0 20px 0;
  }

  @media (min-width: $tablet-width) {
    padding: 77px 62px 57px 52px;

    &:not(:last-child) {
      margin: 0 0 30px 0;
    }
  }

  @media (min-width: $desktop-width) {
    &:not(:last-child) {
      margin: 0 80px 0 0;
    }
  }
}

.preview__title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;
  margin: 0 0 0 71px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 0 162px;
  }
}

.preview__text {
  padding: 0;
  margin: 29px 0 23px 0;
  max-width: 400px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin: 24px 0 52px 0;
    max-width: 58%;
  }

  @media (min-width: $desktop-width) {
    margin: 73px 0 27px 0;
    max-width: 460px;
  }
}

.preview__link {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  position: relative;
  padding-top: 19px;

  &::before {
    content: "";
    display: block;
    height: 1px;
    position: relative;
    bottom: 19px;
    background-color: $border_grey-2;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding: 0;

    &::before {
      display: none;
    }
  }
}
