.promo__wrapper {
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  position: relative;
  margin: 0 auto;
  width: 320px;
  background-size: 320px 302px;
  background-image: url(../../img/background/index-background-mobile.png), linear-gradient(0deg, $green 0%, $green 0%);
  background-color: $white;
  background-repeat: no-repeat;
  color: $white;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
  }
}
