.promotion__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 48px;
  margin: 35px 0;
  min-width: 280px;
  min-height: 290px;
  background-color: $green;
  background-image: linear-gradient(180deg, rgba($green, 85%) 0%, rgba($green, 85%) 0%), url("../../img/background/catalog-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 1px $special_grey solid;

  @media (min-resolution: 2dppx) {
    background-image: linear-gradient(180deg, rgba($green, 85%) 0%, rgba($green, 85%) 0%), url("../../img/background/catalog-background@2x.png");
  }

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 69px 0 76px 0;
    min-width: 707px;
    min-height: 200px;
    border: none;
    background-image: linear-gradient(180deg, rgba($green, 85%) 0%, rgba($green, 85%) 0%), url("../../img/background/catalog-background-tab.png");

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(180deg, rgba($green, 85%) 0%, rgba($green, 85%) 0%), url("../../img/background/catalog-background-tab@2x.png");
    }
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 46px;
    margin: 0 0 0 80px;
    min-width: 245px;
    min-height: 288px;
    border: none;
    background-image: linear-gradient(180deg, rgba($green, 85%) 0%, rgba($green, 85%) 0%), url("../../img/background/catalog-background-desk.png");

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(180deg, rgba($green, 85%) 0%, rgba($green, 85%) 0%), url("../../img/background/catalog-background-desk@2x.png");
    }
  }
}

.promotion__text {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  display: block;
  position: relative;
  margin-bottom: 43px;
  max-width: 161px;
  color: $white;

  @media (min-width: $tablet-width) {
    text-align: left;
    margin: 0 124px 0 0;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
    margin: 0 0 42px 0;
  }
}

.promotion__icon {
  width: 80px;
  height: 82px;

  @media (min-width: $tablet-width) {
    margin: 0 0 0 77px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}
