.promo {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  margin: 0 auto;
}

.promo__wrapper {
  position: relative;
  margin: 0 auto;
  padding: 0 30px;
  background-size: 320px 302px;
  background-position: center top;
  background-image: url("../../img/background/index-background-mobile.png");
  background-color: $white;
  background-repeat: no-repeat;
  color: $white;
  z-index: 1;

  &::before {
    display: block;
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 100%;
    height: 302px;
    background-color: rgba($green, 85%);
    z-index: -1;
  }

  @media (min-width: $tablet-width) {
    padding: 0 30px;
    background-image: none;

    &::before {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    max-width: 1220px;
    padding: 0 110px;
  }
}

.promo__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  @media (min-width: $tablet-width) {
    align-items: flex-start;
    text-align: left;
    margin: 62px 0 0 87px;
    width: 424px;
  }

  @media (min-width: $desktop-width) {
    margin: 114px 0 0 80px;
  }
}

.promo__title {
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  margin: 27px 20px 25px 20px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin: 0 0 41px 0;
    color: $black;
  }
}

.promo__slogan {
  text-transform: uppercase;
  margin: 0 0 29px 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin: 0 0 49px 0;
    color: $black;
  }
}

.promo__link {
  order: 4;
  min-width: 280px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    width: 244px;
    padding: 14px 0;
    order: 0;
  }
}
