.promotion__wrapper {
  padding: 35px 0;
  border-top: 1px $special_grey solid;

  @media (min-width: $tablet-width) {
    padding: 69px 0 76px 0;
    border: none;
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 0 80px;
    border: none;
  }
}

.promotion__text {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  display: block;
  position: relative;
  padding: 186px 60px 43px 60px;
  background-color: $green;
  background-image: linear-gradient(180deg, rgba($green, 85%) 0%, rgba($green, 85%) 0%), url("../../img/background/catalog-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: $white;

  @media (min-resolution: 2dppx) {
    background-image: linear-gradient(180deg, rgba($green, 85%) 0%, rgba($green, 85%) 0%), url("../../img/background/catalog-background@2x.png");
  }

  @media (min-width: $tablet-width) {
    padding: 70px 124px 70px 422px;
    background-image: linear-gradient(180deg, rgba($green, 85%) 0%, rgba($green, 85%) 0%), url("../../img/background/catalog-background-tab.png");

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(180deg, rgba($green, 85%) 0%, rgba($green, 85%) 0%), url("../../img/background/catalog-background-tab@2x.png");
    }
  }

  @media (min-width: $desktop-width) {
    padding: 184px 42px 42px 42px;
    background-image: linear-gradient(180deg, rgba($green, 85%) 0%, rgba($green, 85%) 0%), url("../../img/background/catalog-background-desk.png");

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(180deg, rgba($green, 85%) 0%, rgba($green, 85%) 0%), url("../../img/background/catalog-background-desk@2x.png");
    }
  }
}
