.promo {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  margin: 0 auto;
}

.promo__wrapper {
  position: relative;
  margin: 0 auto;
  padding: 0 20px;
  background: linear-gradient(180deg, $green 64.5%, $white 0%);
  color: $white;


  &::before {
    display: block;
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 100%;
    height: 302px;
    background-image: linear-gradient(180deg, rgba($green, 85%) 0%, rgba($green, 85%) 0%), url("../../img/background/index-background-mobile.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    z-index: 1;
  }

  @media (min-resolution: 2dppx) {
    &::before {
      background-image: linear-gradient(180deg, rgba($green, 85%) 0%, rgba($green, 85%) 0%), url("../../img/background/index-background-mobile@2x.png");
    }
  }

  @media (min-width: $tablet-width) {
    padding: 0 30px;
    background-image: none;

    &::before {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    max-width: 1220px;
    padding: 0 110px;
  }
}

.promo__info {
  text-align: center;
  position: relative;
  z-index: 3;

  @media (min-width: $tablet-width) {
    text-align: left;
    margin: 62px 0 0 87px;
    min-height: 810px;
  }

  @media (min-width: $desktop-width) {
    margin: 114px 0 0 80px;
    min-height: 471px;
  }
}

.promo__title {
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  padding: 27px 0 25px 0;
  margin: 0 auto;
  max-width: 420px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin: 0 0 41px 0;
    padding: 0;
    // max-width: 420px;
    color: $black;
  }
}

.promo__slogan {
  text-transform: uppercase;
  margin: 0 0 29px 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin: 0 0 50px 0;
    color: $black;
  }
}

.promo__link {
  font-size: 14px;
  line-height: 18px;
  display: block;
  width: 100%;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    width: 244px;
    min-width: none;
    margin: 0;
    padding: 14px 0;
    order: 0;
  }
}

.promo__img {
  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: 0;
    right: 30px;
    z-index: -1;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: -82px;
    right: 220px;
    z-index: -1;
  }
}
