.slider {
  padding: 0 0 40px 0;
  background-color: $grey-4;

  @media (min-width: $tablet-width) {
    padding: 0 0 101px 0;
    background: linear-gradient(180deg, $white 57.2%, $grey-4 57.2%);
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    background: linear-gradient(180deg, $white 25.7%, $grey 22.7%);
  }
}

.slider__wrapper {
  font-family: $lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin: 0 auto;
  padding: 0 20px;
  color: $black;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    padding: 0 110px;
    width: 1220px;
  }
}

.slider__title {
  font-family: $oswald;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  padding: 25px 0 40px 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    padding: 43px 0 63px 0;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin: 22px 0 146px 0;
    width: 440px;
  }
}

.slider__text {
  margin: 0;
  color: $dark_grey;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    max-width: 1000px;
  }

  @media (min-width: $desktop-width) {
    max-width: 433px;
  }
}

.slider__wrapper-achievement {
  display: grid;
  grid-template-areas: "a b" "c c";
  align-items: center;
  justify-content: center;
  gap: 32px;
  margin: 20px auto;
  max-width: 280px;

  @media (min-width: $tablet-width) {
    display: flex;
    margin: 54px auto 0 auto;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 100%;
    gap: 42px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    row-gap: 60px;
    margin: 69px 0 75px 0;
    width: 440px;
  }
}

.slider__achievement {
  display: flex;
  flex-direction: column;
  position: relative;
}

.slider__achievement-value {
  font-family: $oswald;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 124px;
  height: 56px;
  border: 1px $special_grey solid;
  border-radius: 3px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
    width: 162px;
    height: 72px;
  }
}

.slider__achievement-label {
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  position: absolute;
  top: 48px;
  right: 19px;
  width: 81px;
  background-color: $grey-4;
  color: $dark_grey;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    top: 64px;
    left: 20px;
    padding: 0;
    width: 125px;
    background-color: $white;
  }

  @media (min-width: $desktop-width) {
    background-color: $grey;
  }
}

.slider__costs {
  font-family: $oswald;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  grid-area: c;
  position: relative;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    text-align: end;
    width: 69%;
    margin-top: 11px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    text-align: start;
    margin: 0;
  }
}

.slider__costs-amount {
  @media (min-width: $tablet-width) {
    position: absolute;
    top: 29px;
    right: 0;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    top: 0;
    margin: 0 0 0 60px;
  }
}

.slider__wrapper-picture {
  margin: 20px auto 0 auto;
  width: 280px;
  height: 256px;

  @media (min-width: $tablet-width) {
    margin: 104px auto 0 auto;
    width: 560px;
    height: 512px;
  }

  @media (min-width: $desktop-width) {
    margin: 26px 0 0 220px;
    width: 560px;
    height: 512px;
  }
}

.slider__before {
  position: absolute;
  clip: rect(auto 140px auto auto);

  @media (min-width: $tablet-width) {
    clip: rect(auto 280px auto auto);
  }
}

.slider__after {
  position: absolute;
  clip: rect(auto auto auto 140px);

  @media (min-width: $tablet-width) {
    clip: rect(auto auto auto 280px);
  }
}

.slider__button {
  position: absolute;
  margin-left: 138px;
  padding: 0;
  height: 256px;
  width: 4px;
  background-color: $special_grey-2;
  border: none;
  border-radius: 2px;
  z-index: 1;

  @media (min-width: $tablet-width) {
    margin-left: 278px;
    height: 506px;
  }

  &:hover {
    background-color: $green;
  }

  &:active {
    opacity: 0.6;
  }
}

.slider__icon {
  position: absolute;
  top: 108px;
  right: -18px;
  background-color: $white;
  border-radius: 50%;
  fill: none;
  stroke: $special_grey-2;

  path {
    fill: $special_grey-2;
  }

  @media (min-width: $tablet-width) {
    top: 236px;
  }

  &:hover {
    stroke: $green;

    path {
      fill: $green;
    }
  }
}
