.slider__wrapper {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  color: $black;
  background-color: $grey-2;
}

.slider__wrapper-achievement {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $desktop-width) {
    width: 436px;
  }
}

.slider__achievement {
  display: flex;
  flex-direction: column;
}
