// index
@use "./index/main-header.scss";
@use "./index/logo.scss";
@use "./index/main-nav.scss";
@use "./index/promo.scss";
@use "./index/preview.scss";
@use "./index/features.scss";
@use "./index/slider.scss";
@use "./index/map.scss";
@use "./index/main-footer.scss";
@use "./index/social.scss";
// form
@use "./form/form.scss";
@use "./form/form-heading.scss";
@use "./form/form-info.scss";
@use "./form/form-goals.scss";
@use "./form/form-contacts.scss";
@use "./form/form-comment.scss";
@use "./form/form-extra.scss";
@use "./form/form-submit.scss";
@use "./form/form-field.scss";
// catalog
@use "./catalog/catalog-main.scss";
@use "./catalog/card.scss";
@use "./catalog/card-more.scss";
@use "./catalog/catalog-extra.scss";
@use "./catalog/card-extra.scss";
@use "./catalog/promotion.scss";
