// color
@import "varibles";
// fonts
@import "./fonts.scss";
// button
@import "./blocks/button.scss";
// global
@import "global.scss";
//visually-hidden
@import "./blocks/visually-hidden.scss";
// index
@import "./blocks/main-header.scss";
@import "./blocks/main-nav.scss";
@import "./blocks/promo.scss";
@import "./blocks/preview.scss";
@import "./blocks/features.scss";
@import "./blocks/slider.scss";
@import "./blocks/map.scss";
@import "./blocks/main-footer.scss";
@import "./blocks/social.scss";
// form
@import "./blocks/form.scss";
@import "./blocks/form-heading.scss";
@import "./blocks/form-info.scss";
@import "./blocks/form-goals.scss";
@import "./blocks/form-contacts.scss";
@import "./blocks/form-comment.scss";
@import "./blocks/form-extra.scss";
@import "./blocks/form-submit.scss";
@import "./blocks/form-field.scss";
// catalog
@import "./blocks/catalog-main.scss";
@import "./blocks/card.scss";
@import "./blocks/card-more.scss";
@import "./blocks/catalog-extra.scss";
@import "./blocks/card-extra.scss";
@import "./blocks/promotion.scss";
