// Цвет
$green: #68b738;
$green-2: #5eaa2f;

$grey: #f2f2f2;
$grey-2: #eaeaea;

$special_grey: #cdcdcd;
$special_grey-2: #666666;

$dark_grey: #444444;
$dark_grey-2: #222222;

$status_error: #ff8282;
